<section class="section">
  <div class="row sameheight-container">
    <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
      <%= render "admin/static_pages/themes/dashboard/stats" %>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
      <%= render "admin/static_pages/themes/dashboard/history" %>
    </div>
  </div>
</section>

<section class="section">
  <div class="row sameheight-container">
    <div class="col-xl-8">
      <%= render "admin/static_pages/themes/dashboard/items" %>
    </div>

    <div class="col-xl-4">
      <%= render "admin/static_pages/themes/dashboard/sales_breakdown" %>
    </div>
  </div>
</section>
<section class="section map-tasks">
  <div class="row sameheight-container">
    <div class="col-md-8">
      <%= render "admin/static_pages/themes/dashboard/sales_by_countries" %>
    </div>
    
    <div class="col-md-4">
      <%= render "admin/static_pages/themes/dashboard/tasks" %>
    </div>
  </div>
</section>